* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  width: 100%;
}

body {
  background: white;
  color: black;
  font-family: sans-serif;
}

body {
  font-family: 'Noto Sans', sans-serif; /* texto normal */
}

h1, h2, h3, .titulo-grande {
  font-family: 'Playpen Sans', cursive; /* títulos */
}